*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul,li{
	list-style:none;
}
img{
	border:0;
	vertical-align: middle;
}
table{
	border-collapse: collapse;
	border-spacing:0;
}
p{
	word-wrap: break-word;
	font-style:normal;
	font-weight: normal;
}
a{
	text-decoration: none;
}
input,button{
	outline:none;
	border:none;
	list-style: none;
}

html,body{
	height:100%;
	width:100%;
}
body{
	position:relative;
    font-size:16px;
    overflow-x: hidden;
}

$fontSize : 12px;

header{
    width: 100%;
    height:140px;
    position: relative;
   
    .hide{
        margin: 0 auto;
        width: 1263x;
        height: 250px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 100px;
        z-index: 1000;  
        display: none;
        
        li{
            width: 204px;
            
            div{
                height: 120px;
                width: 204px;   
                border-right: 0.5px solid darkgrey;
                margin-top: 40px;
                img{
                    display: block;
                    height: 120px;
                    width: 120px;
                    margin-left: 42px;
                }
            }
            .last-dd{
                border-right: none;
            }
           
            p{
                text-align: center;   
            }
            a{
                display: block;
                text-align: center;
            }
        }
    }
    .erweima{
        width: 100px;
        height: 100px;
        background: #ff00ff;
        position: absolute;
        left: 525px;
        top:40px;
        display: none;
    }
    .gouwuche{
        width: 302px;
        height: 100px;
        background: #ddffcc;
        position: absolute;
        right: 17px;
        top: 40px;
        display: none;
    }
   .bao{
        width: 100%;
        background: #000000;
        .top{
            width: 1226px;
            height: 40px;
            background: #000000;
            margin: 0 auto;
            .nav-left{
                width: 699px;
                height: 40px;
                float: left;
                .left{
                    li{
                        float: left;              
                       a{
                           font-size: 12px;
                           padding: 0 6px;
                           line-height: 40px;
                           color: darkgrey;
                           border-right: 1px solid darkgrey;
                       }
                       .last_a{
                           border-right: none;
                       }
                    }                
                }
            }
            .nav-right{
                width: 270px;
                height: 40px;
                float: right;
                .right{
                       
                        li{
                            float: left;   
                            a{
                                font-size: 12px;
                                color: darkgrey;
                                line-height: 40px;
                                padding: 0 8px;
                                border-right: 1px solid darkgrey;
                            }
                            .zuihou-a{
                                border-right: none;
                            }
                        }
                }
                .shop-Car{
                   
                   float: right;
                    img{
                        display: block;
                        width: 20px;
                        height: 20px;
                        float: left;
                        margin: 10px 0;
                    }
                    a{
                        font-size: 12px;
                        color: darkgrey;
                        line-height: 40px;
                        float: left;
                        padding: 0 5px;
                    }
                }
            }
        }
   }

    .top-2{
        width: 100%;
        
        .div_container{
            width: 1226px;
            margin: 0 auto;
            height: 100px;
          
   .mi-logo{
     
    .img-one{
        float: left;
        margin-top: 22.5px;
        margin-left: 22.5px;
        position: absolute;
         }
   }
            
            .zhong-header{
                float: right;
                width:  80%;
                height: 100px;
                ul{
                    li{
                        float: left;
                        line-height: 100px;
                     
                        a{
                            padding: 0 10px;
                        }
                     
                    }
                    
                    
                }
                .search-one{
                    float: right;
                    margin-top: 25px;
                    height: 50px;
                    width: 300px;
                   
                    input{
                        float: left;
                        height: 49px;
                        width: 200px;
                        border: 1px solid darkgrey;
                    }
                    .div-img{
                        float: left;
                        width: 49px;
                        height: 49px;
                        border: 1px solid darkgrey;
                        border-left: none;
                        img{
                            display: block;
                            width: 30px;
                            height: 30px; 
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    height:273px;
   
    .footer-one{
        width: 1226px;
        height: 80px;
     
        margin: 0 auto;
        border-bottom: 1px solid darkgrey;
        ul{
            width: 100%;
            height: 25px;
            display: flex;
            justify-content: space-around;
            padding-top: 30px;
            li{
               // float: left;
                width: 274px;
                height: 25px;
                border-right: 1px solid darkgrey;
                padding-left: 50px;
            }
            .last-li{
                border-right: none;
            }
        } 
    }
    .footer-two{
        width: 1226px;
        height: 192px;
        
        margin: 0 auto;
        .content-two{
            width: 100%;
            ul{
                float: left;
                margin: 50px;
            }

            .div-phone{
                float: right;
                margin-top: 50px;
                width: 200px;
                border-left: 1px solid darkgrey;
                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                .div-kefu{
                    width: 120px;
                    height: 30px;
                    margin: 0 auto;
                    background: #ddffcc;
                    border-radius: 10%;
                    img{
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                    a{
                       margin-top: 5px;
                    }
                    
                }
            }
        }
    }
    .footer-three{
        width: 1263px;
        height: 232px;
       background: rgb(161, 159, 159);
        padding-top: 30px;
        margin: 0 auto;
        .content-three{
          width: 100%;
          height: 150px;
        
            .div-img2{
                float: left;
                width: 106px;
                height: 150px;
              
                .mi-2{
                    margin-left: 50px;
                    float: left;
                }
            }
            ul{
                li{
                    float: left;
                    font-size: 13px;
                    padding: 0 3px;
                    border-right: 1px solid #000000;
                }
            }
            p{
                float: left;
                width: 1159px;
                height: 72px;
                margin-top: -133px;
                margin-left: 106px;
                a{
                    display: block;
                    font-size: 10px;
                    color: antiquewhite;
                }
            }
            .d-img{
               padding-top: 80px;
            }
            .ha{
           margin-top: 20px;
           margin-left: 400px;
            }
        }
    }
}