*{
    margin: 0;
    padding: 0;
}

.register{
    width: 854px;
    height: 548px;
    margin: 80px auto;
    background: #ffffff;
  
    .mi{
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    h3{  
        color: #cecece;
        text-align: center;
    }
    .content{
        padding-top: 50px;
        
        h4{ 
             color: #cecece;
            margin-left: 300px;
            height: 30px;
            line-height: 30px;
        }
        input{
            height: 35px;
            width: 250px;
            margin-left: 300px;
        }
        .zhuce{
            height: 35px;
            width: 255px;
            margin-left: 300px;
            margin-top: 30px;
            background: #ff00ff;
            border: none;     
            outline: none; 
        }
        .tishi{
            width: 235px;
            font-size: 15px;
            text-align: center;
            padding-top: 10px;
            margin-left: 300px;
        }
        .zhuce:hover{
            cursor: pointer;
            background: #cecece;
        }
        .content-2{
            text-decoration: none;
            color: aqua;
            display: block;
            margin-left: 290px;
            margin-top: 30px;
        }
    }
}
footer{
    width: 100%;
    height: 50px;
  
    text-align: center;
    .footer-one{
        margin: 0 auto;
        margin-top: 30px;
        width: 328px;
        height: 30px;
        text-align: center;
        h5{
            display: inline-block;
            text-decoration: none;
            border-right: 1px solid #000000;
            color: aqua;
            font-size: 12px;
            padding-right: 5px;
        }
        h5:nth-child(5){
            border-right: none;
        }
        p{
            font-size: 12px;
        }

    }
}